<div class="container">
  <header>
    <h1 class="display-3">{{ message }}</h1>
  </header>

  <section>
    <h2>Key Features</h2>
    <ul>
      <li>Effortlessly track your expenses and budgets</li>
      <li>Visualize your financial data with insightful charts</li>
      <li>Ensure complete security and privacy</li>
    </ul>
  </section>

  <section>
    <h2>Characteristics</h2>
    <ul>
      <li>User-friendly interface</li>
      <li>Real-time expense tracking</li>
      <li>Secure data storage</li>
      <li>A11y requirements</li>
    </ul>
  </section>

  <section>
    <h2>Tasks</h2>
    <ul>
      <li>Explore the dashboard to view financial insights</li>
      <li>Set budgets to manage your spending</li>
      <li>Log expenses to keep a detailed record</li>
      <li>Quickly add your expenses using the icon at the bottom right</li>
    </ul>
  </section>

  <section>
    <h2>Project Information</h2>
    <p>This project aims to provide users with a robust tool to manage their personal finances effectively. With a user-friendly interface and powerful features, Expense Tracker empowers users to make informed financial decisions.</p>
  </section>

  <section>
    <h2>Frequently Asked Questions</h2>
    <div class="faq-question" *ngFor="let faq of faqs">
      <h4 (click)="toggleAnswer(faq.id)">{{ faq.question }}</h4>
      <div class="faq-answer" *ngIf="showAnswer[faq.id]">{{ faq.answer }}</div>
    </div>
  </section>


  <button class="quick-add-button btn btn-primary" (click)="openExpenseDialog()">+</button>
</div>
